{% extends "teamInfo/base.html"%}
{% load static %}

{% block main %}
    <!-- <div> -->
    <h1>Наші досягнення</h1>
    <h2>Кожен має багато проєктів:</h2>
    <p>відеоігри</p>
    <p>консольні додатки</p>
    <p>веб-додатки</p>

    <!-- </div> -->

    <style>
        h1{
            text-align: center;
            color:white;
            font-family: monospace;
            font-size: 40px;
        }

        h2{
            text-align: center;
            color:white;
            font-family: monospace;
            font-size: 32px;
        }

        p{
            text-align: center;
            color:white;
            font-family: monospace;
            font-size: 24px;
        }

        body{
            background-color:rgb(54, 54, 75);
        }
    </style>
{% endblock %}