{% extends 'teamInfo/base.html' %}
{% load static %}

{% block title %}
    <title>Головна</title>
{% endblock %}

{% block main %}
    <h1 class = "main-headline">Головна сторінка</h1>
    <div id = "team">
        <div id = "Nikita">
            <p>Микита Погрібняк</p>
            <p>Працює з Backend-розробкою на Django</p> 
            <img src="{% static 'teamInfo/images/image2.png' %}" alt="">
        </div>

        <div id = "Dima">
            <p>Дмитро Письменний</p>
            <p>Team Lead</p>
            <img src="{% static 'teamInfo/images/image1.png' %}" alt="">
        </div>

        <div id = "Valera">
            <p>Валера Глазунов</p>
            <p>Працює з Frontend-розробкою</p>
            <img src="{% static 'teamInfo/images/frontend-developer.png' %}" alt="">
        </div>
    </div>

    <style>
        .main-headline{
            text-align: center;
            color:white;
            font-family: monospace;
            font-size: 40px;
        }
        #team{
            width: 20%;
            margin: auto;
        }

        #team div{
            height: 300px;
            border: 3px solid white;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #team div p{
            text-align: center;
            font-family: monospace;
            font-size: 16px;
            color: white;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #team div img{
            width: 80%;
            height: 80%;
            position: relative;
            left: 10%;
            border: 1px solid white;
        }
        body{
            background-color: rgb(54, 54, 75);
        }


    </style>
{% endblock %}