{% extends 'teamInfo/base.html' %}
{% load static %}
{% block main %}
    <h1 class = "main-headline">Освіта</h1>
    <p class = "p-education">Ми проходимо третій курс Python Django <ion-icon name="logo-python"></ion-icon></p>
    <p class = "p-education">Вивчаємо JavaScript <ion-icon name="logo-javascript"></ion-icon></p>
    <p class = "p-education">
        <ion-icon name="logo-html5"></ion-icon> 
        Проходили курс з HTML/CSS 
        <ion-icon name="logo-css3"></ion-icon>
    </p>

    <style>
        .main-headline{
            text-align: center;
            color:white;
            font-family: monospace;
            font-size: 40px;
        }

        .p-education{
            font-size: 40px;
            font-family: monospace;
            color: white;
            text-align: center;
        }

        body{
            background-color: rgb(54, 54, 75);
        }


    </style>

{% endblock %}
