{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
    <link rel="stylesheet" href="{% static 'teamInfo/css/style.css' %}">
</head>
<body>
    <header class="header1">
        <a href="{% url 'main' %}">
            <img id = "logo" src="{% static 'teamInfo/images/logo.png'%}" alt="">
        </a>
        <a href="{% url 'educ' %}" class="header-text">Освіта</a>
        <a href="{% url 'ach' %}" class="header-text">Наші досягнення у програмуванні</a>
        <a href="{% url 'hobby' %}" class="header-text">Хобі</a>
        <a href="{% url 'leis' %}" class="header-text">Дозвілля</a>
    </header>
    
    <main>
        <h1>Головна сторінка</h1>
    </main>
    <footer></footer>
</body>
</html>